@charset "UTF-8";

#header.main::before {border-bottom: none; background-color: #FBFAFA;}

.main-container {max-width: 100%;}
.main-container #page.page-main {width: 100%; max-width: 100%; row-gap: 0; background: #FBFAFA;}


.y-news-wrap {height: 100px; background: #232527; border-bottom: 1px solid rgba(255, 255, 255, 0.07);}
.y-news-wrap .inner-bx {position: relative; max-width: 1200px; padding: 35.5px 0 0 0; margin: 0 auto;}
.y-news-wrap .inner-bx .s-tit {display: none;}
.y-news-wrap .inner-bx .y-news ul {height: 29px;}
.y-news-wrap .inner-bx .y-news li {height: 29px;}
.y-news-wrap .inner-bx .y-news li .in-bx {position: relative; display: flex; column-gap: 48px;}
.y-news-wrap .inner-bx .y-news li .in-bx .tx01 {font-weight: 600; font-size: 22px; color: #E2E2E2; line-height: 29px;}
.y-news-wrap .inner-bx .y-news li .in-bx .tx02 {font-weight: 600; font-size: 17px; color: #E2E2E2; line-height: 29px;}
.y-news-wrap .inner-bx .y-news li .in-bx .tx03 {position: absolute; top: 0; right: 0; font-weight: 400; font-size: 17px; color: #E2E2E2; line-height: 29px; padding: 0 48px 0 0;}
.y-news-wrap .inner-bx .y-news .swiper-button-next, .swiper-rtl .swiper-button-prev {bottom: 0; right: 0; width: 24px; height: 14.5px; z-index: 100;}
.y-news-wrap .inner-bx .y-news .swiper-button-next, .swiper-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M0.933594 1.40039L5.79217 6.25897C5.87028 6.33707 5.99691 6.33707 6.07502 6.25897L10.9336 1.40039' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
.y-news-wrap .inner-bx .y-news .swiper-button-prev, .swiper-rtl .swiper-button-next {top: 0; left: auto; right: 0; width: 24px; height: 14.5px; z-index: 100;}
.y-news-wrap .inner-bx .y-news .swiper-button-prev, .swiper-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M10.9492 6.59961L6.09064 1.74103C6.01254 1.66293 5.8859 1.66293 5.8078 1.74103L0.949219 6.59961' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}


@media (max-width: 1023px) {
  .main-container #page.page-main .main-inner-wrap .m-cont-wrap02 {height: auto; padding-bottom: 40px;}


  .y-news-wrap {height: auto; background: #fff;}
  .y-news-wrap .inner-bx {padding: 32px 0;}
  .y-news-wrap .inner-bx .s-tit {display: block; font-weight: 700; font-size: 20px; color: #232527; line-height: 130%; padding: 0 16px 8px 16px;}
  .y-news-wrap .inner-bx .y-news li .in-bx {display: block; padding: 0 16px;}
  .y-news-wrap .inner-bx .y-news li .in-bx .tx01 {display: none;}
  .y-news-wrap .inner-bx .y-news li .in-bx .tx02 {box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
  .y-news-wrap .inner-bx .y-news li .in-bx .tx03 {display: none;}
  .y-news-wrap .inner-bx .y-news .swiper-button-next, .swiper-rtl .swiper-button-prev {display: none;}
  .y-news-wrap .inner-bx .y-news .swiper-button-prev, .swiper-rtl .swiper-button-next {display: none;}
}


@keyframes slidedown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 20px)); /*애니메이션 버벅거림 방지를 위해 -20px 추가*/
  }
}

@keyframes slideup {
  0% {
    transform: translateY(calc(-100% - 20px));/*애니메이션 버벅거림 방지를 위해 -20px 추가*/
  }
  100% {
    transform: translateY(0);
  }
}




